*{
    font-family: Arial, Helvetica, sans-serif;
}

header .container{
    padding: 20px;
    border-bottom:  1px solid #999;
    width: 80%;
    margin: 22px auto;
}
.container h3{
    font-size: 33px !important; 
    font-weight: 600;
}
footer .container{
    border-top:  1px solid #999;
}
.container{
    padding: 10px;
    width: 80%;
}
.list{
    width: 80%;
    margin: 15px auto;
    padding: 0 15px;
}

.content {
    background-color: #EEE;
    border: none;
    text-align: center;
    padding: 30px;
}
.box{
    display: flex;
    flex-direction: column;
}
input {
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 5px;
    width: 80%;
    margin: 10px auto;
    font-size: 15px;
    max-height: 2em;
}
input:hover{
	box-shadow:0px 0px 12px -7px #888;
}

.bookcont{
    background-image: linear-gradient(#EEE,#FFF);
    margin: 13px 0;
    padding: 21px;
}
.bookcont h2{
    width: 13%;
    color: #333;
    display: inline-block;
}

.btn {
    padding: 10px 15px;
    font-size: 15px;
    margin: 15px 5px;
    cursor: pointer;
    border-radius: 5px;
    max-width: fit-content;
}